<div class="row">
    <div class="col-md-6 offset-3 alert-danger text-center">
        <h2>You are not authorized to access this page</h2>
        <p>Log in with your credentials or contact your administrator</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home</a>
        </p>
    </div>
</div>
